[submodule "AttributeTable"]
	path = AttributeTable
	url = https://github.com/Wildsong/AttributeTable
[submodule "AddData"]
	path = AddData
	url = https://github.com/Wildsong/wabde-widget-AddData
[submodule "Analysis"]
	path = Analysis
	url = https://github.com/Wildsong/wabde-widget-Analysis
[submodule "BasemapGallery"]
	path = BasemapGallery
	url = https://github.com/Wildsong/wabde-widget-BasemapGallery
[submodule "BatchAttributeEditor"]
	path = BatchAttributeEditor
	url = https://github.com/Wildsong/wabde-widget-BatchAttributeEditor
[submodule "Bookmark"]
	path = Bookmark
	url = https://github.com/Wildsong/wabde-widget-Bookmark
[submodule "BusinessAnalyst"]
	path = BusinessAnalyst
	url = https://github.com/Wildsong/wabde-widget-BusinessAnalyst
[submodule "Chart"]
	path = Chart
	url = https://github.com/Wildsong/wabde-widget-Chart
[submodule "Coordinate"]
	path = Coordinate
	url = https://github.com/Wildsong/wabde-widget-Coordinate
[submodule "CoordinateConversion"]
	path = CoordinateConversion
	url = https://github.com/Wildsong/wabde-widget-CoordinateConversion
[submodule "CostAnalysis"]
	path = CostAnalysis
	url = https://github.com/Wildsong/wabde-widget-CostAnalysis
[submodule "DataAggregation"]
	path = DataAggregation
	url = https://github.com/Wildsong/wabde-widget-DataAggregation
[submodule "Directions"]
	path = Directions
	url = https://github.com/Wildsong/wabde-widget-Directions
[submodule "DistanceAndDirection"]
	path = DistanceAndDirection
	url = https://github.com/Wildsong/wabde-widget-DistanceAndDirection
[submodule "DistrictLookup"]
	path = DistrictLookup
	url = https://github.com/Wildsong/wabde-widget-DistrictLookup
[submodule "Draw"]
	path = Draw
	url = https://github.com/Wildsong/wabde-widget-Draw
[submodule "Edit"]
	path = Edit
	url = https://github.com/Wildsong/wabde-widget-Edit
[submodule "EmergencyResponseGuide"]
	path = EmergencyResponseGuide
	url = https://github.com/Wildsong/wabde-widget-EmergencyResponseGuide
[submodule "ExtentNavigate"]
	path = ExtentNavigate
	url = https://github.com/Wildsong/wabde-widget-ExtentNavigate
[submodule "Filter"]
	path = Filter
	url = https://github.com/Wildsong/wabde-widget-Filter
[submodule "FullScreen"]
	path = FullScreen
	url = https://github.com/Wildsong/wabde-widget-FullScreen
[submodule "GeoLookup"]
	path = GeoLookup
	url = https://github.com/Wildsong/wabde-widget-GeoLookup
[submodule "Geoprocessing"]
	path = Geoprocessing
	url = https://github.com/Wildsong/wabde-widget-Geoprocessing
[submodule "GridOverlay"]
	path = GridOverlay
	url = https://github.com/Wildsong/wabde-widget-GridOverlay
[submodule "GriddedReferenceGraphic"]
	path = GriddedReferenceGraphic
	url = https://github.com/Wildsong/wabde-widget-GriddedReferenceGraphic
[submodule "GroupFilter"]
	path = GroupFilter
	url = https://github.com/Wildsong/wabde-widget-GroupFilter
[submodule "HomeButton"]
	path = HomeButton
	url = https://github.com/Wildsong/wabde-widget-HomeButton
[submodule "ImageMeasurement"]
	path = ImageMeasurement
	url = https://github.com/Wildsong/wabde-widget-ImageMeasurement
[submodule "IncidentAnalysis"]
	path = IncidentAnalysis
	url = https://github.com/Wildsong/wabde-widget-IncidentAnalysis
[submodule "InfoSummary"]
	path = InfoSummary
	url = https://github.com/Wildsong/wabde-widget-InfoSummary
[submodule "Infographic"]
	path = Infographic
	url = https://github.com/Wildsong/wabde-widget-Infographic
[submodule "LayerList"]
	path = LayerList
	url = https://github.com/Wildsong/wabde-widget-LayerList
[submodule "Legend"]
	path = Legend
	url = https://github.com/Wildsong/wabde-widget-Legend
[submodule "Measurement"]
	path = Measurement
	url = https://github.com/Wildsong/wabde-widget-Measurement
[submodule "MyLocation"]
	path = MyLocation
	url = https://github.com/Wildsong/wabde-widget-MyLocation
[submodule "NearMe"]
	path = NearMe
	url = https://github.com/Wildsong/wabde-widget-NearMe
[submodule "NetworkTrace"]
	path = NetworkTrace
	url = https://github.com/Wildsong/wabde-widget-NetworkTrace
[submodule "ObliqueViewer"]
	path = ObliqueViewer
	url = https://github.com/Wildsong/wabde-widget-ObliqueViewer
[submodule "OverviewMap"]
	path = OverviewMap
	url = https://github.com/Wildsong/wabde-widget-OverviewMap
[submodule "ParcelDrafter"]
	path = ParcelDrafter
	url = https://github.com/Wildsong/wabde-widget-ParcelDrafter
[submodule "Print"]
	path = Print
	url = https://github.com/Wildsong/wabde-widget-Print
[submodule "Query"]
	path = Query
	url = https://github.com/Wildsong/wabde-widget-Query
[submodule "RelatedTableCharts"]
	path = RelatedTableCharts
	url = https://github.com/Wildsong/wabde-widget-RelatedTableCharts
[submodule "ReportFeature"]
	path = ReportFeature
	url = https://github.com/Wildsong/wabde-widget-ReportFeature
[submodule "ReviewerDashboard"]
	path = ReviewerDashboard
	url = https://github.com/Wildsong/wabde-widget-ReviewerDashboard
[submodule "Scalebar"]
	path = Scalebar
	url = https://github.com/Wildsong/wabde-widget-Scalebar
[submodule "Screening"]
	path = Screening
	url = https://github.com/Wildsong/wabde-widget-Screening
[submodule "Search"]
	path = Search
	url = https://github.com/Wildsong/wabde-widget-Search
[submodule "Select"]
	path = Select
	url = https://github.com/Wildsong/wabde-widget-Select
[submodule "Share"]
	path = Share
	url = https://github.com/Wildsong/wabde-widget-Share
[submodule "SituationAwareness"]
	path = SituationAwareness
	url = https://github.com/Wildsong/wabde-widget-SituationAwareness
[submodule "SmartEditor"]
	path = SmartEditor
	url = https://github.com/Wildsong/wabde-widget-SmartEditor
[submodule "Splash"]
	path = Splash
	url = https://github.com/Wildsong/wabde-widget-Splash
[submodule "Stream"]
	path = Stream
	url = https://github.com/Wildsong/wabde-widget-Stream
[submodule "SuitabilityModeler"]
	path = SuitabilityModeler
	url = https://github.com/Wildsong/wabde-widget-SuitabilityModeler
[submodule "Summary"]
	path = Summary
	url = https://github.com/Wildsong/wabde-widget-Summary
[submodule "Swipe"]
	path = Swipe
	url = https://github.com/Wildsong/wabde-widget-Swipe
[submodule "ThreatAnalysis"]
	path = ThreatAnalysis
	url = https://github.com/Wildsong/wabde-widget-ThreatAnalysis
[submodule "TimeSlider"]
	path = TimeSlider
	url = https://github.com/Wildsong/wabde-widget-TimeSlider
[submodule "Visibility"]
	path = Visibility
	url = https://github.com/Wildsong/wabde-widget-Visibility
[submodule "ZoomSlider"]
	path = ZoomSlider
	url = https://github.com/Wildsong/wabde-widget-ZoomSlider
[submodule "samplewidgets"]
	path = samplewidgets
	url = https://github.com/Wildsong/wabde-widget-samplewidgets
[submodule "SaveSession"]
	path = SaveSession
	url = https://github.com/softwhere/SaveSession-Widget.git
[submodule "PopupPanel"]
	path = PopupPanel
	url = https://github.com/Wildsong/wabde-widget-PopupPanel
[submodule "PublicNotification"]
	path = PublicNotification
	url = https://github.com/Wildsong/wabde-widget-PublicNotification
[submodule "Table"]
	path = Table
	url = https://github.com/brian32768/wab-table-widget.git
[submodule "Traverse"]
	path = Traverse
	url = https://github.com/Wildsong/wabde-widget-Traverse
[submodule "About"]
	path = About
	url = https://github.com/Wildsong/wabde-widget-About
